*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    color: #ffffff;
    background: linear-gradient(160deg, #a947a1 0%, #783ffd 79%);
    border-radius: 22px;
    border: 5px groove #d405c2;
    padding: 13px 20px;
    cursor: pointer;
    margin: 20px;
    height: 60px;
}

#food-btns, #drink-btns {
    display: flex;
    flex-direction: row;
    grid-row: 5;
    align-content: center;
    align-items: center;
}

.penguin {
    width: 200px;
    height: auto;
    display: none;
}

#egg {
    width: 100px;
    height: auto;
    
}

.pet {
    grid-column: 5/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 4
}
.hidden {
    display: none;
}
.popup{
    color: #ffffff;
    background: linear-gradient(160deg, #a947a1 0%, #783ffd 79%);
    border-radius: 22px;
    border: 5px groove #d405c2;
    width: 320px;
    padding: 20px 50px;
    display: flex;
    
}

.closebtn {
    color: red;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    cursor: pointer;
}


button {
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
	
label {
    font-size: 2rem;
    color: #2b2157;
    text-shadow: #d405c2 1px 1px 5px;
    
    border-radius: 22px;
    outline: none;
    padding: 13px 32px;
    cursor: pointer;
    margin: 20px;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('resouces/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}

.game-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(5, 20%);
    width: 100vw;
    height: 100vh;
}
#popup {
    grid-column: 4/10;
    z-index: 1;
    display: flex;
    justify-self: center;
}
#food-area, #drink-area{
    grid-row: 4;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

form label {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
.bars {
grid-column: 1/13 ;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 20px;
padding: 5px;
}   

.bar {
    width: 200px;
    height: 20px;
}
.bar:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.stats {
    grid-row: 2;
    grid-column: 2 /6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    align-content: flex-start;
}

.dead {
    display: none;
    width: 200px;
    height: auto;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #2b2157;
}


h3 {
    font-size: 2rem;
    font-weight: 900;
    color: #2b2157;
    margin: 20px;
    text-shadow: #ff00ea 1px 1px 8px;
}

@media (max-width: 425px) {
    body {
        background-image: none;
    }
    .game-container {
        background-image: url('resouces/background-phone.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-rows: repeat(5, 20%);
        
    }

    .bars {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 5px;
        grid-row: 1;
        grid-column: 1/9;
    }

    progress {
        width: 90px;
        height: 20px;
    }

    label {
        font-size: 1.5rem;
        padding: 5px;
        margin: 0;
    }

    h3 {
        font-size: 1.3rem;
        padding: 0;
        margin: 0;
    }

    .pet {
        grid-column: 3/7;
        grid-row: 4;
    }

    button {
        font-size: 1.2rem;
        padding: 3px;
        margin: 0;
    }
    .btns-area {
        grid-column: 1/9;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 5px;
    }

    #popup {
        grid-column: 2/8;
        z-index: 1;
        display: flex;
        justify-self: center;
    }

    .stats {
        grid-row: 2;
        grid-column: 2 /8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px;
        align-content: flex-start;
    }


.drink-area, .food-area {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.food, .drink {
    z-index: 1;
}

#food-btns {
    grid-column: 3;
}

#drink-btns {
    grid-column: 6;
}

#food-area, #drink-area{
  
    grid-column:    1/9;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#food-area .btn, #drink-area .btn {
    width: 70px;
    height: 60px;
    font-size: 1rem;
    padding: 0;
    margin: 5px;
    justify-content: center;
}

.food, .drink {
    flex-wrap: wrap;
}

#popup {
    grid-row: 2;
}
}