*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn {
    font: 16px 500 Arial, sans-serif;
    color: #ffffff;
    background: linear-gradient(160deg, #a947a1 0%, #783ffd 79%);
    border-radius: 22px;
    outline: none;
    padding: 13px 32px;
    cursor: pointer;
    margin: 20px;
}

.btns-area {
    display: flex;
    flex-direction: row;
    grid-row: 5;
}

.penguin {
    width: 200px;
    height: auto;
    display: none;
}

#egg {
    width: 100px;
    height: auto;
    
}

.pet {
    grid-column: 5/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 4
}
.hidden {
    display: none;
}
.popup{
    color: #ffffff;
    background: linear-gradient(160deg, #a947a1 0%, #783ffd 79%);
    border-radius: 22px;
    border: 5px groove #d405c2;
    width: 320px;
    padding: 20px 50px;
    display: flex;
    
}

.closebtn {
    color: red;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    cursor: pointer;
}


button {
    background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
	
label {
    font-size: 2rem;
    color: #2b2157;
    text-shadow: #d405c2 1px 1px 5px;
    
    border-radius: 22px;
    outline: none;
    padding: 13px 32px;
    cursor: pointer;
    margin: 20px;
}
body {
    width: 100vw;
    height: 100vh;
    
    background-image: url('resouces/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}

.game-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(5, 20%);
    width: 100vw;
    height: 100vh;
}
#popup {
    grid-column: 4/10;
    z-index: 1;
    display: flex;
    justify-self: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

form label {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
.bars {
grid-column: 1/13 ;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 20px;
padding: 5px;
}   

.bar {
    width: 200px;
    height: 20px;
}
.bar:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.stats {
    grid-row: 2;
    grid-column: 2 /6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    align-content: flex-start;
}

.dead {
    display: none;
    width: 200px;
    height: auto;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #2b2157;
}


h3 {
    font-size: 2rem;
    font-weight: 900;
    color: #2b2157;
    margin: 20px;
    text-shadow: #ff00ea 1px 1px 8px;
}